@import "variables";

.aside {
  &__container {
    padding: 35px 15px 29px;
    min-width: 286px;
    height: fit-content;
    background-color: $white;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
  }

  &__header {
    max-width: 256px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 19px;
    border-bottom: 1px solid #ECECEC;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__title {
    font-family: $helvetica;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: $green;
    margin-left: 12px;

    span {
      font-size: inherit;
    }

      &_small {
        display: none;
      }
  }

  &__arrow {
    display: none;
  }

  &__border {
    border-bottom: 1px solid #ECECEC;
  }

  &__btn {
    display: block;
    margin: 19px auto 0;
    border: 1px solid rgba(37, 150, 9, .35);
    border-radius: 3px;
    font-family: $helvetica;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $green;
    background-color: transparent;
    padding: 14px 35px;
    cursor: grab;
    transition: all .2s linear;

    &:hover {
      color: $white;
      background-color: $green;
    }
  }
}

.list {
  list-style: none;
  margin: 21px 28px;

  &__item {
    padding-bottom: 25px;

    &:last-child {
      padding-bottom: 0;
    }
  }
  
  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $helvetica;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $black;
    cursor: grab;
    transition: all .2s linear;
  }
  
  &__arrow {
    font-weight: 300;
  }

  &__nested {
    list-style: none;
  }

  &__item-nested {
    padding: 12px 13px;
    color: $black;
    transition: all .2s linear;

    &:hover {
      background: #F2F2F2;
      border-radius: 3px;
    }
    &:active {
      color: $green;
      background-color: rgba(37, 150, 9, .15);
      border-radius: 3px;
    }
  }

  &__link {
    color: inherit;
    font-family: $helvetica;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}


@media screen and (max-width: 480px) {
  .aside {
    &__container {
      background-color: #F1F1F1;
      padding: 15px 25px;
      max-width: 330px;
      box-shadow: none;
      margin-bottom: 20px;
    }

    &__header {
      padding-bottom: 0;
      border: none;
    }

    &__title {
      width: 100%;
      font-size: 16px;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_small {
        display: block;
      }
      
      &_large {
        display: none;
      }
    }

    &__arrow {
      display: block;
      font-size: 0;
      line-height: 0;
    }

    &__border, &__btn {
      display: none;
    }
  }

  .list {
    display: none;
  }  
}

