@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@500&display=swap");
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

span {
  font-size: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #F7F7F7;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label + ul {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}

input[type=radio]:checked + label + ul {
  max-height: 400px;
}

input[type=radio]:checked + label span {
  transform: rotate(90deg);
}

input[type=radio]:checked + label {
  color: #259609;
}

input[type=radio]:checked + label span svg {
  fill: #259609;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.inner__container {
  display: flex;
}

.main__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 30px;
  color: #3E3E3E;
  margin: 60px 0 30px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
}
@media screen and (max-width: 980px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 450px;
  }
}
@media screen and (max-width: 480px) {
  body {
    background-color: #FFFFFF;
  }
  .container {
    max-width: 330px;
  }
  .main__title {
    margin: 15px 0 20px 0;
  }
  .inner__container {
    display: block;
  }
}
.aside__container {
  padding: 35px 15px 29px;
  min-width: 286px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
}
.aside__header {
  max-width: 256px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 19px;
  border-bottom: 1px solid #ECECEC;
}
.aside__icon {
  width: 20px;
  height: 20px;
}
.aside__title {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #259609;
  margin-left: 12px;
}
.aside__title span {
  font-size: inherit;
}
.aside__title_small {
  display: none;
}
.aside__arrow {
  display: none;
}
.aside__border {
  border-bottom: 1px solid #ECECEC;
}
.aside__btn {
  display: block;
  margin: 19px auto 0;
  border: 1px solid rgba(37, 150, 9, 0.35);
  border-radius: 3px;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #259609;
  background-color: transparent;
  padding: 14px 35px;
  cursor: -webkit-grab;
  cursor: grab;
  transition: all 0.2s linear;
}
.aside__btn:hover {
  color: #FFFFFF;
  background-color: #259609;
}

.list {
  list-style: none;
  margin: 21px 28px;
}
.list__item {
  padding-bottom: 25px;
}
.list__item:last-child {
  padding-bottom: 0;
}
.list__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #3E3E3E;
  cursor: -webkit-grab;
  cursor: grab;
  transition: all 0.2s linear;
}
.list__arrow {
  font-weight: 300;
}
.list__nested {
  list-style: none;
}
.list__item-nested {
  padding: 12px 13px;
  color: #3E3E3E;
  transition: all 0.2s linear;
}
.list__item-nested:hover {
  background: #F2F2F2;
  border-radius: 3px;
}
.list__item-nested:active {
  color: #259609;
  background-color: rgba(37, 150, 9, 0.15);
  border-radius: 3px;
}
.list__link {
  color: inherit;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@media screen and (max-width: 480px) {
  .aside__container {
    background-color: #F1F1F1;
    padding: 15px 25px;
    max-width: 330px;
    box-shadow: none;
    margin-bottom: 20px;
  }
  .aside__header {
    padding-bottom: 0;
    border: none;
  }
  .aside__title {
    width: 100%;
    font-size: 16px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .aside__title_small {
    display: block;
  }
  .aside__title_large {
    display: none;
  }
  .aside__arrow {
    display: block;
    font-size: 0;
    line-height: 0;
  }
  .aside__border, .aside__btn {
    display: none;
  }
  .list {
    display: none;
  }
}
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  opacity: 0.7;
}
.close:hover {
  transform: rotate(45deg);
  opacity: 100%;
}

.courses {
  width: 100%;
}
.courses__wrapper {
  margin-left: 14px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  gap: 23px 20px;
  justify-items: stretch;
  align-items: stretch;
}
.courses__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  margin: 46px auto 50px auto;
}
.courses__text {
  margin-right: 10px;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #3E3E3E;
}

.card {
  height: 405px;
  position: relative;
  perspective: 1000px;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
  cursor: -webkit-grab;
  cursor: grab;
}
.card__price {
  display: none;
}
.card__front, .card__back {
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #FFFFFF;
}
.card__front {
  border-radius: 2px;
  border-top: 6px solid #259609;
}
.card__back {
  transform: rotateY(180deg);
  background-color: #259609;
}
.card__close {
  display: none;
}
.card__logo {
  align-self: flex-end;
  margin-bottom: 30px;
}
.card__logo_img {
  max-height: 34px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card__suptitle {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #259609;
  margin-bottom: 15px;
}
.card__title {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #3E3E3E;
  margin-top: 0;
  margin-bottom: 70px;
}
.card__flex {
  display: flex;
  align-items: center;
}
.card__flex:last-child {
  margin-bottom: 29px;
}
.card__subtitle {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3E3E3E;
  margin-left: 12px;
}
.card__btn {
  padding: 15px 0 12px 0;
  border: none;
  background: #259609;
  border-radius: 3px;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.2s linear;
}
.card__btn_back {
  background: rgba(255, 255, 255, 0.25);
}
.card__btn_back:hover {
  background-color: #FFFFFF;
  color: #259609;
}
.card:hover .card__front {
  transform: rotateY(180deg);
}
.card:hover .card__back {
  transform: rotateY(360deg);
}

.back__close {
  top: 20px;
  right: 20px;
  background-color: #FFFFFF;
  transition: all 0.5s linear;
}
.back__title {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 22px;
  max-width: 172px;
  margin-bottom: 20px;
}
.back__subtitle {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 3px;
}
.back__text {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 22px;
  margin-bottom: 4px;
}
.back__text_last {
  margin-bottom: 20px;
}
.back__price {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
  margin: 30px 0 10px;
}

@media screen and (max-width: 480px) {
  .courses__wrapper {
    display: block;
    margin: 0 auto;
  }
  .card {
    max-width: 330px;
    height: 330px;
    margin-bottom: 20px;
  }
  .card__close {
    display: flex;
    background-color: #259609;
  }
  .card:hover .card__front {
    background-color: #F7F7F7;
    transform: rotateY(0deg);
  }
  .card__front {
    padding: 20px 24px;
  }
  .card__logo {
    margin-bottom: 12px;
  }
  .card__suptitle {
    margin-bottom: 8px;
  }
  .card__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 6px;
  }
  .card__icon {
    display: none;
  }
  .card__flex {
    display: block;
  }
  .card__flex:last-child {
    display: none;
  }
  .card__subtitle {
    margin-left: 0;
  }
  .card__price {
    display: block;
    margin: 65px 0 14px 0;
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
  .card__back {
    display: none;
  }
}